In [16]:
import pandas as pd
import numpy as np

In [17]:
raw_data = pd.read_csv("Automobile_price_data__Raw_.csv")

#### 1. Pandas Basics

In [18]:
raw_data.head() # returns the first five values, also takes numbers (by-default it is 5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [19]:
raw_data.tail() # returns the last five values

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [20]:
 raw_data.shape # shape returns a tuple of size of rows and columns

(205, 26)

In [21]:
raw_data.columns # returns column names

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [22]:
raw_data.info() # info returns the total number of data rows and total columns with its size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [23]:
raw_data.isnull() # returns the True/False for each data value if it is null or not

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
raw_data.notnull() # returns the True/False for each data value if it is null or not

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

#### 2. Data Slicing

    * loc() & iloc()

In [25]:
# loc - Label based indexing, using row and columns name, data will be sliced
raw_data.loc[1:10]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [26]:
# COlumns slicing using loc()
raw_data.loc[:, 'make': 'wheel-base'] # the first attribute specifies the number of rows and the second specifies the number of columns

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5
3,audi,gas,std,four,sedan,fwd,front,99.8
4,audi,gas,std,four,sedan,4wd,front,99.4
...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1
201,volvo,gas,turbo,four,sedan,rwd,front,109.1
202,volvo,gas,std,four,sedan,rwd,front,109.1
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1
204,volvo,gas,turbo,four,sedan,rwd,front,109.1

In [27]:
raw_data.loc[:,:]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [28]:
raw_data.loc[[1,53,4,25,6,17,92, 100], ['make', 'fuel-type', 'engine-location', 'num-of-doors', 'horsepower']]

            make fuel-type engine-location num-of-doors horsepower
1    alfa-romero       gas           front          two        111
53         mazda       gas           front         four         68
4           audi       gas           front         four        115
25         dodge       gas           front         four         68
6           audi       gas           front         four        110
17           bmw       gas           front         four        182
92        nissan       gas           front         four         69
100       nissan       gas           front         four         97

In [29]:
# iloc - Integer based label slicing: indexes of rows and columns would be used to slice data, rather than labels
raw_data.iloc[1:10, 3: 7]

  fuel-type aspiration num-of-doors   body-style
1       gas        std          two  convertible
2       gas        std          two    hatchback
3       gas        std         four        sedan
4       gas        std         four        sedan
5       gas        std          two        sedan
6       gas        std         four        sedan
7       gas        std         four        wagon
8       gas      turbo         four        sedan
9       gas      turbo          two    hatchback

#### 3. Columns Section

In [30]:
raw_data.columns[1:3]

Index(['normalized-losses', 'make'], dtype='object')

In [31]:
# selecting multiple columns by using column-list
raw_data[['make', 'fuel-type', 'engine-location', 'num-of-doors', 'horsepower']]

            make fuel-type engine-location num-of-doors horsepower
0    alfa-romero       gas           front          two        111
1    alfa-romero       gas           front          two        111
2    alfa-romero       gas           front          two        154
3           audi       gas           front         four        102
4           audi       gas           front         four        115
..           ...       ...             ...          ...        ...
200        volvo       gas           front         four        114
201        volvo       gas           front         four        160
202        volvo       gas           front         four        134
203        volvo    diesel           front         four        106
204        volvo       gas           front         four        114

[205 rows x 5 columns]

#### 4. Filter

In [32]:
raw_data['make'] == 'audi' # This is a boolean condition that returns True if condition is true else False

0      False
1      False
2      False
3       True
4       True
       ...
200    False
201    False
202    False
203    False
204    False
Name: make, Length: 205, dtype: bool

In [33]:
raw_data[raw_data['make'] == 'audi']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [34]:
# Slicing dataframes using multiple conditions
raw_data[(raw_data['make'] == 'toyota') & (raw_data['body-style'] == 'sedan')] # AND Condition (&)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938
158,0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
160,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738
162,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
163,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058
165,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
173,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948
174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,102.4,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690

In [35]:
raw_data[(raw_data['make'] == 'toyota') | (raw_data['body-style'] == 'sedan')] # OR conditions (|)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

#### 5. Sorting

In [36]:
raw_data['horsepower'].sort_values() # Sorts values (by-default in ascending order)

42     100
188    100
41     101
11     101
10     101
      ...
109     97
107     97
99      97
130      ?
131      ?
Name: horsepower, Length: 205, dtype: object

In [37]:
raw_data['horsepower'].sort_values(ascending=False) # sorts in descending order

131      ?
130      ?
99      97
100     97
107     97
      ...
41     101
11     101
10     101
188    100
42     100
Name: horsepower, Length: 205, dtype: object

In [38]:
# Sort dataframe by a specified column
raw_data.sort_values(by = ['wheel-base'], ascending=False)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
70,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,...,183,idi,3.58,3.64,21.5,123,4350,22,25,31600
114,0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
113,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
30,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479
31,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76,6000,31,38,6855

In [39]:
raw_data.sort_values(by = ['wheel-base', 'horsepower'], ascending=[False, True])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
70,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,...,183,idi,3.58,3.64,21.5,123,4350,22,25,31600
71,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
110,0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
113,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
30,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479
31,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76,6000,31,38,6855

In [40]:
# Returns a list the unique values of the specified column
raw_data['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [41]:
# value_counts() returns the frequency of the spcecified category
raw_data['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

#### 6. Filter and Query
* filter() method is used for subset the rows and columns of the selected DataFrame

In [42]:
# Filters data based on the specified by the 
raw_data.filter(like = 'num')

    num-of-doors num-of-cylinders
0            two             four
1            two             four
2            two              six
3           four             four
4           four             five
..           ...              ...
200         four             four
201         four             four
202         four              six
203         four              six
204         four             four

[205 rows x 2 columns]

In [43]:
# Filter columns based on the specifed column labels
raw_data.filter(items = ['horsepower', 'make', 'num-of-doors', 'engine-location'])

    horsepower         make num-of-doors engine-location
0          111  alfa-romero          two           front
1          111  alfa-romero          two           front
2          154  alfa-romero          two           front
3          102         audi         four           front
4          115         audi         four           front
..         ...          ...          ...             ...
200        114        volvo         four           front
201        160        volvo         four           front
202        134        volvo         four           front
203        106        volvo         four           front
204        114        volvo         four           front

[205 rows x 4 columns]

In [44]:
# Slicing rows by specified row number
# axis = 0 indicates that data is needed rowise
raw_data.filter(items = [0, 4, 7, 9], axis = 0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [45]:
# regex is used to filter out data based on the specified regular expression
raw_data.filter(regex = "^num")

    num-of-doors num-of-cylinders
0            two             four
1            two             four
2            two              six
3           four             four
4           four             five
..           ...              ...
200         four             four
201         four             four
202         four              six
203         four              six
204         four             four

[205 rows x 2 columns]

In [46]:
# query runs the specified query
# labels with special symbols can be represented using tilde(`)
raw_data.query("`make` == 'toyota' and `engine-size` >= 130")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449
168,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9639
169,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9989
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11199
171,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11549
172,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,17669
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750

#### 7. Handling Missing Values
* aka Data wrangling or Data Manipulations
* replace by MEAN if data is continous
* replace by MEDIAN if data is discrete / continous
* replace by MODE if data is categorical

In [47]:
# replace is used to replace the specified value, inplace ensures the actual dataframe is updated 
raw_data.replace("?", np.nan, inplace = True)

In [48]:
raw_data.isnull().sum() # Returns the total number of missing values from each columns names

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [49]:
# Displaying the missing values in percentage
raw_data.isnull().sum() / raw_data.shape[0] * 100

symboling             0.00000
normalized-losses    20.00000
make                  0.00000
fuel-type             0.00000
aspiration            0.00000
num-of-doors          0.97561
body-style            0.00000
drive-wheels          0.00000
engine-location       0.00000
wheel-base            0.00000
length                0.00000
width                 0.00000
height                0.00000
curb-weight           0.00000
engine-type           0.00000
num-of-cylinders      0.00000
engine-size           0.00000
fuel-system           0.00000
bore                  1.95122
stroke                1.95122
compression-ratio     0.00000
horsepower            0.97561
peak-rpm              0.97561
city-mpg              0.00000
highway-mpg           0.00000
price                 1.95122
dtype: float64

In [50]:
# Handling the missing values
# axis = 1 : Drops columns by using the specified column names
# axis = 0 : Drops rows by the specified labels
raw_data.drop(['symboling', 'normalized-losses'], axis = 1, inplace = True) # inplace applies the modification directly to the refernce DataFrame

In [51]:
raw_data['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object

In [52]:
raw_data['price'] = raw_data['price'].astype('float')

In [53]:
raw_data['price']

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [54]:
vehicle_df  = raw_data.copy()
vehicle_df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [55]:
vehicle_df['price'].median() # Median return the middle value of the data

10295.0

In [56]:
# replace the NAN values of price column with the median of the column
vehicle_df['price'] = vehicle_df['price'].fillna(vehicle_df['price'].median())
vehicle_df['price']

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [57]:
# Drop missing rows where NAN values are present
vehicle_df.dropna(inplace = True)
vehicle_df.isnull().sum()

make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

#### 8. Drop Duplicate Rows
* Drop duplicate values (if exactly all values of different rows are similar, then they are duplicate)

In [58]:
# Returns True / False if any rows are duplicated or not
vehicle_df[vehicle_df.duplicated()]

Empty DataFrame
Columns: [make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 24 columns]

In [59]:
dict(vehicle_df.iloc[1])

{'make': 'alfa-romero',
 'fuel-type': 'gas',
 'aspiration': 'std',
 'num-of-doors': 'two',
 'body-style': 'convertible',
 'drive-wheels': 'rwd',
 'engine-location': 'front',
 'wheel-base': 88.6,
 'length': 168.8,
 'width': 64.1,
 'height': 48.8,
 'curb-weight': 2548,
 'engine-type': 'dohc',
 'num-of-cylinders': 'four',
 'engine-size': 130,
 'fuel-system': 'mpfi',
 'bore': '3.47',
 'stroke': '2.68',
 'compression-ratio': 9.0,
 'horsepower': '111',
 'peak-rpm': '5000',
 'city-mpg': 21,
 'highway-mpg': 27,
 'price': 16500.0}

In [60]:
# Select random sample from dataframe using "frac" which takes value of sample in percentage or n = number of samples
sample_df = vehicle_df.sample(frac = 0.05)
sample_df

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
15,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760.0
70,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,71.7,...,183,idi,3.58,3.64,21.50,123,4350,22,25,31600.0
147,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,...,108,mpfi,3.62,2.64,9.00,94,5200,25,31,10198.0
111,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,15580.0
122,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,...,98,2bbl,2.97,3.23,9.40,68,5500,31,38,7609.0
181,toyota,gas,std,four,wagon,rwd,front,104.5,187.8,66.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750.0
97,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,7999.0
119,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7957.0
21,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572.0
103,nissan,gas,std,four,sedan,fwd,front,100.4,184.6,66.5,...,181,mpfi,3.43,3.27,9.00,152,5200,19,25,13499.0

In [61]:
vehicle_df1 = pd.concat([vehicle_df, sample_df], ignore_index = True)
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,toyota,gas,std,four,wagon,rwd,front,104.5,187.8,66.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750.0
203,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,7999.0
204,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7957.0
205,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572.0
206,nissan,gas,std,four,sedan,fwd,front,100.4,184.6,66.5,...,181,mpfi,3.43,3.27,9.00,152,5200,19,25,13499.0

In [62]:
# Returns the duplicated rows
vehicle_df1[vehicle_df1.duplicated()]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760.0
198,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,71.7,...,183,idi,3.58,3.64,21.50,123,4350,22,25,31600.0
199,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,...,108,mpfi,3.62,2.64,9.00,94,5200,25,31,10198.0
200,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,15580.0
201,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,...,98,2bbl,2.97,3.23,9.40,68,5500,31,38,7609.0
202,toyota,gas,std,four,wagon,rwd,front,104.5,187.8,66.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750.0
203,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,7999.0
204,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7957.0
205,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572.0
206,nissan,gas,std,four,sedan,fwd,front,100.4,184.6,66.5,...,181,mpfi,3.43,3.27,9.00,152,5200,19,25,13499.0

In [63]:
# Drops all the duplicated rows from the database
vehicle_df1.drop_duplicates(inplace=True)
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
193,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
194,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
195,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
196,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

#### 9. Group By
* Used for aggregate operations.

In [64]:
vehicle_df1.groupby('make')['price'].mean()

make
alfa-romero      15498.333333
audi             16778.571429
bmw              26118.750000
chevrolet         6007.000000
dodge             7790.125000
honda             8184.692308
isuzu             9605.750000
jaguar           34600.000000
mazda             9852.000000
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27179.400000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [65]:
vehicle_df1.groupby('make')[['city-mpg','price']].max().sort_values(by = ['price'], ascending = False)

               city-mpg    price
make
mercedes-benz        22  45400.0
bmw                  23  41315.0
porsche              19  37028.0
jaguar               15  36000.0
audi                 24  23875.0
volvo                26  22625.0
nissan               45  19699.0
saab                 21  18620.0
mazda                31  18344.0
peugot               28  18150.0
toyota               38  17669.0
mercury              19  16503.0
alfa-romero          21  16500.0
mitsubishi           37  14869.0
volkswagen           37  13845.0
dodge                37  12964.0
honda                49  12945.0
plymouth             37  12764.0
subaru               32  11694.0
isuzu                38  11048.0
chevrolet            47   6575.0

#### 10. Apply Function
* used to apply() function to modify the column values.

In [66]:
vehicle_df1['dimension'] = vehicle_df1.apply(lambda x: x['length'] * x['width'], axis = 1)
vehicle_df1

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,dimension
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,10820.08
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,10820.08
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,11213.60
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,11690.92
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,11726.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,13008.32
193,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,12989.44
194,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,13008.32
195,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,13008.32
196,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,13008.32

#### 11. Set & Reset Index

In [67]:
city_gdp_data = {
    "New York City": 1992.8,
    "Tokyo": 1520.0,
    "Los Angeles": 1124.7,
    "Seoul": 779.3,
    "London": 731.2,
    "Paris": 709.2,
    "Shanghai": 608.6,
    "Beijing": 553.7,
    "Chicago": 524.6,
    "Hong Kong": 517.0
}
gdp_series = pd.Series(city_gdp_data)
city_gdp = pd.DataFrame(gdp_series, columns = ['GDP_Per_Capita'])
city_gdp

               GDP_Per_Capita
New York City          1992.8
Tokyo                  1520.0
Los Angeles            1124.7
Seoul                   779.3
London                  731.2
Paris                   709.2
Shanghai                608.6
Beijing                 553.7
Chicago                 524.6
Hong Kong               517.0

In [68]:
city_gdp = city_gdp.reset_index()
city_gdp

           index  GDP_Per_Capita
0  New York City          1992.8
1          Tokyo          1520.0
2    Los Angeles          1124.7
3          Seoul           779.3
4         London           731.2
5          Paris           709.2
6       Shanghai           608.6
7        Beijing           553.7
8        Chicago           524.6
9      Hong Kong           517.0

In [70]:
city_gdp.set_index('index')

               GDP_Per_Capita
index
New York City          1992.8
Tokyo                  1520.0
Los Angeles            1124.7
Seoul                   779.3
London                  731.2
Paris                   709.2
Shanghai                608.6
Beijing                 553.7
Chicago                 524.6
Hong Kong               517.0

#### 12. Pivot Table

In [71]:
vehicle_df1.pivot_table(values = 'price', index = ['drive-wheels', 'engine-location'], columns = 'body-style', aggfunc = 'mean')

body-style                    convertible  hardtop     hatchback  \
drive-wheels engine-location
4wd          front                    NaN      NaN   8949.000000
fwd          front                11595.0   8249.0   8365.166667
rwd          front                20680.0  20572.6  14419.666667
             rear                 37028.0  33278.0           NaN

body-style                           sedan         wagon
drive-wheels engine-location
4wd          front            12647.333333   9095.750000
fwd          front             9834.290909  10061.181818
rwd          front            21711.833333  16994.222222
             rear                      NaN           NaN

In [72]:
data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Year': [2020, 2020, 2021, 2021, 2022],
    'Population': [8.3, 3.9, 8.4, 4.0, 8.5],
    'GDP': [1700, 1000, 1750, 1050, 1800]
}

df = pd.DataFrame(data)

pivot = pd.pivot_table(df, values='GDP', index='City', columns='Year', aggfunc='sum')

print(pivot)

Year           2020    2021    2022
City
Los Angeles  1000.0  1050.0     NaN
New York     1700.0  1750.0  1800.0

#### 13. Merge

In [ ]:
data1 = {
    'EmployeeID': ['E001', 'E002', 'E003', 'E004', 'E005'],
    'Name': ['John Doe', 'Jane Smith', 'Peter Brown', 'Tom Johnson', 'Rita Patel'],
    'DeptID': ['D001', 'D003', 'D001', 'D002', 'D003']
}

data2 = {
    'DeptID': ['D001', 'D002', 'D003'],
    'DeptName': ['Sales', 'HR', 'Admin']
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, on='DeptID', how = 'inner') # It can do inner, outer, left, right

#### 14. CrossTab
* Cross Tabulation is pandas method to craete contigency table, that shows the fequency distribution
    of atrributes

In [73]:
pd.crosstab(vehicle_df1['body-style'], vehicle_df1['num-of-doors'])

num-of-doors  four  two
body-style
convertible      0    6
hardtop          0    8
hatchback       10   55
sedan           79   15
wagon           24    0